/*
 */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: 'Fira Sans';
  color: #4aab47;
}

a:hover {
  text-decoration: underline;
}


/*
 * Header
 */
.topNav {
  height: 108px;
  width: 100vw;
  box-shadow: 1px 0 10px rgba(0,0,0,0.5);
}
  .topNav_nav {
    display: block;
    width: 100%;
    overflow-y: scroll;
  }
    .topNav_nav a {
      color: black;
    }
    .navLogo {
      height: 72px;
      width: 144px;
    }

    @media (max-width: 767px){
      .navLogo {
        margin-top: 18px;
        margin-left: 18px;
      }
    }

    #pull{
      display: inline-block;
      float: right;
      margin-top: 36px;
      margin-right: 36px;
    }
    @media (min-width:768px){
      #pull {
        display: none;
      }
    }

    .topNav_list {
      list-style-type: none;
      display: none;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
      background-color: white;
    }
      .topNav_listItem {
        display: table;
        height: 3em;
        width: 100%;
        background-color: white;
      }
        .topNav_listItem span {
          display: table-cell;
          vertical-align: middle;
        }
@media (min-width: 768px) {
  .topNav_nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
  }
    .topNav_list {
      width: 40vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
      .topNav_listItem {
        display: block;
        width: auto;
        height: auto;
      }
}

.carousel {
  width: 100%;
  height: 70vh;
  background-color: #5f4525;
}

.wrapper {
  width: 100%;
  padding: 0 10px;
}

@media (min-width: 768px){
  .wrapper {
    width: auto;
    padding: 0 72px;
  }
}

.listings {
  margin-bottom: 15vh;
}

.listings_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}


  .listings .title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
    color: #4aab47;
    margin-top: 3em;
    border-bottom: solid 3px #5f4525;
  }
    .title h1 {
      display: inline-block;
      font-size: 2.5em;
      margin: 0;
      margin-right: 10px;
      font-weight: 400;
    }
    .title_link, .title_link:visited {
      color: black;
      text-decoration: none;
    }
    .title_link:hover{
      text-decoration: underline;
    }

  .listings_listItem {
    width: 27vw;
    padding: 0;
    border: solid 1px rgba(149,149,149,0.5);
    border-radius: 20px;
    overflow: hidden;
    /*box-shadow: 1px 0 5px rgba(0,0,0,0.5);*/
    /*background-color: grey;*/
  }
  @media (max-width: 767px){
    .listings_list {
      flex-direction: column;
      align-items: center;
    }
    .listings_listItem {
      width: 90%;
      margin: 20px auto;
    }
    .listings .title {
      margin-left: 18px;
    }
  }
    .listings_listItem figure {
      margin: 0;
    }
      .listings_listItem figcaption {
        padding: 0 6% 6%;
      }

      .listings_title {
        font-family: Raleway, sans-serif;
        font-weight: 500;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .listings_desc {
        font-family: sans-serif;
        margin: 0;
        margin-bottom: 10px;
      }
      .listings_link {
        color: #91c443;
        text-decoration: none;
        font-size: 0.8em;
      }

    .listings_img {
      width: 100%;
    }
.bottomNav {
  width: 100%;
  height: 108px;
  background-color: #353535;
  color: white;
  display: flex;
  justify-content: center;
}
.footerLinks {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .footerLinks_item {
    margin: 0 10px;
  }
  @media (max-width: 767px){
    .bottomNav {
      height: 40vh;
      justify-content: flex-start;
    }
    .footerLinks{
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
    .footerLinks_item:nth-child(3){
      order: 2;
    }
  }

/*
 * Article Page
 */

.hero_container {
  display: block;
  width: 100%;
  height: 60vh;
  overflow-y: hidden;
}
.article_wrapper {
  width: 100%;
}
@media (min-width:768px) {
  .article_wrapper{
    width: 60vw;
    margin: 0 auto;
  }
}
.articleTitle {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 10px;
}
.article_body {
  margin-bottom: 3em;
}

/*
 * Category body
 */
.category_wrapper {
  width: 100vw;
}
@media (min-width:768px) {
  .category_wrapper {
    width: 80vw;
    margin: 0 auto;
  }
}

.category_wrapper .title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #4aab47;
    border-bottom: solid 3px #5f4525;
    text-align: center;
    padding-bottom: 10px;
}

  .category_list {
    list-style-type: none;
  }
    .category_listItem{
      display: block;
      width: 100%;
      border-bottom: solid 1px rgba(149,149,149,0.5);
    }
      .category_container {
        display: flex;
      }
        .img_container {
          width: 50%;
          display: inline-table;
          vertical-align: middle;
          text-align: right;
          padding-right: 30px;
        }
        .category_itemImg {
          width: 70%;
          height: auto;
        }

        .category_itemTitle {
          font-family: 'Fira Sans';
          font-size: 2.5em;
          font-weight: 400;
          margin-bottom: 10px;
        }
        .category_descBody {
          margin-top: 0;
        }
